.gossip-new {
  margin-top: 1rem;
  /* max-height: 10rem; */

  margin-left: auto;
  margin-right: auto;
}
.gossip-new form {
  width: 100vw;
}

.gossip-wrapper {
  overflow: scroll;

  display: flex;
  flex-direction: column;
}

.gossip-wrapper hr {
  width: 80%;
  margin: 1.25rem;

  margin-left: auto;
  margin-right: auto;
}

.gossip-hint {
  color: #fff;
  font-style: italic;
  font-weight: lighter;
}

.gossip-container {
  border-radius: 5px;

  width: 95vw;
  max-width: 95vw;
  min-width: 200px;
  overflow: scroll;

  margin-left: auto !important;
  margin-right: auto !important;
}

.gossip-list-row {
  max-width: 100%;

  margin-left: auto !important;
  margin-right: auto !important;
}

.gossip-text {
  text-align: center;
  padding-left: 0px;
  word-break: break-word;

  margin-left: auto !important;
  margin-right: auto !important;
}

.gossip-text li {
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0.15rem;
  width: fit-content;

  margin: 0;
  padding: 1.5rem 0 1.5rem 3rem;
  list-style: none;
  background-image: url("../image/secret.webp");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 2rem;
}


.gossip-text a {
  color: #bec2ff;
}

.gossip-text-muted {
  margin-left: 0.2rem;

  color: #ffffff4a;
  font-style: italic;
  font-weight: lighter;
}

.gossip-enter {
  opacity: 0;
}
.gossip-enter-active {
 opacity: 1;
 transition: opacity 1000ms;
}
.gossip-exit {
 opacity: 1;
}
.gossip-exit-active {
 opacity: 0;
 transition: opacity 1000ms;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.announcement-pre {
  color: white;
  padding: 2rem;
  margin-top: auto;
  margin-bottom: 0;

  background-color: #0000008c;
  margin-top: auto;
}

.error-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gossip-gif {
  padding: .5rem;
}